# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IntelliJ Idea metadata
.idea
*.iml
*.ipr
*.iws

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
.eslintcache

# production
/dist*
/src/css/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

