.homepage {
  .content;
  font-size: 1.1em;
}

.content {
  padding: 20px 20px 0 20px;
}

.contentCenter {
  .content;
  text-align: center;
}

.warning {
  color: #f55;
}

.planets {
  padding: 10px;
}

.flexCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.flexCenter > * {
  align-content: flex-start;
  width: 80%;
  max-width: 800px;
  padding: 0 auto;
  margin: 0.5em 0 0.5em 0;
}

.flexCenter > div > ul, ol, li {
  margin: 0.1em 0 0.1em 0;
}

.highlight {
  color: #dddda9;
}

span.highlight {
  color: #ddd;
}

.resultsTable {
  border: 1px solid green;
}

button.ahref {
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  /*border is optional*/
  border-bottom: 1px solid #999;
  cursor: pointer;
}
